.secao-principal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}


/* == SEÇÃO DO TEXTO == */
.biography-container {
    display: block;
    flex-direction: column;
    max-width: 900px;
    width: 60vw;
    margin-left: 6%;
    margin-top: 6%;
    margin-bottom: 15%;

    /*-- texto:*/
    font-size: clamp(22px, 1.5vw, 100px);
    line-height: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: justify;
}

/*-- texto:*/
.big-text {
    font-size: clamp(50px, 5vw, 100px);
    font-weight: 400;
    line-height: 1.1;
}

.biography-space-container {
    display: flex;
    height: 400px;
}


/* == SEÇÃO DAS IMAGENS == */
.images-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    object-fit: cover;

}

.image-1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
}