.secao-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 65vh;
    justify-content: space-between;
}


/* == SEÇÃO DAS HABILIDADES ==*/
.skils-container{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 15%;
}
.one-line-topics-container{
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-bottom: 10vw;
}
.skils-topic-container{
    display: flex;
    flex-direction: column;
    width: 29vw;
    background-color: #0c2b5e;
    padding: 4%;
    border-radius: 2vw;
    transition: all 1.2s ease-in-out;
}
.skils-topic-container:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    background-color: #0c2b5e0e;
    border: 3px solid #38bdf8;
    box-shadow: 0 0 20px #38bdf8;
}


/* == TEXTO ==*/
.h1-container{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 4vw;
    margin: 0;
    margin-bottom: 5vw;
    transition: all 1.5s ease-in-out;
}
h1:hover{
    transition: all 0.55s ease-in-out;
    transform: scale(1.05);
    color: #38bdf8;
}
h2{
    text-align: center;
    font-size: 1.8vw;
    margin-bottom: 1vw;
}
.text-skill{
    font-size: 1vw;
    margin-bottom: 2vw;
    line-height: 1.5vw;
}
.skill{
    font-size: 0.9vw;
    font-weight: 600;
}